<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>name</key>
	<string>Objective-C iPhone</string>
	<key>uuid</key>
	<string>2D6F53DD-57F4-4A6B-94C8-DDAC6370AD73</string>
</dict>
</plist>
